/* Tailwind base, components, utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply text-gray-800 bg-gray-50;
  font-family: 'Inter', sans-serif;
}

button:disabled {
  @apply opacity-60 cursor-not-allowed;
}

/* Smooth transitions for UI */
* {
  @apply transition-all duration-150;
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #a78bfa;
  border-radius: 10px;
}
